<fieldset>
    <legend><img src="{{ asset('editors/tinymce/images/logo.png') }}" alt="TinyMCE" /></legend>
    {{ form_row(form.theme) }}
    {{ form_row(form.dateformat) }}
    {{ form_row(form.timeformat) }}
    {{ form_row(form.width) }}
    {{ form_row(form.height) }}
    {{ form_row(form.style) }}
    {{ form_row(form.activeplugins) }}
    <div class="col-sm-offset-3 col-sm-9">
        <a class="btn btn-xs btn-primary" href="https://www.tinymce.com/docs/plugins/" target="_blank" title="{% trans %}TinyMCE plugins{% endtrans %}">{% trans %}Plugin documentation{% endtrans %}</a>
    </div>
</fieldset>
