{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
<h3>
    <span class="fa fa-wrench"></span>
    {% trans with {'%editor%': editor.meta.displayname} %}Configure %editor%{% endtrans %}
    {{ pageSetVar('title', 'Configure '|trans ~ editor.meta.displayname) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}

{{ include(editor.templatePath) }}

<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
    </div>
</div>
{{ form_end(form) }}
