<h3>
    <span class="fas fa-wrench"></span>
    {% trans %}Editors{% endtrans %}
    {{ pageSetVar('title', 'Editors'|trans) }}
</h3>
<div class="table-responsive">
    <table id="editor-list" class="table table-bordered table-striped">
        <colgroup>
            <col id="cLogo" />
            <col id="cId" />
            <col id="cVersion" />
            <col id="cLink" />
            <col id="cLicense" />
            <col id="cActions" />
        </colgroup>
        <thead>
        <tr>
            <th id="hLogo" scope="col"></th>
            <th id="hId" scope="col">{% trans %}Name (ID){% endtrans %}</th>
            <th id="hVersion" scope="col">{% trans %}Version{% endtrans %}</th>
            <th id="hLink" scope="col">{% trans %}Link{% endtrans %}</th>
            <th id="hLicense" scope="col">{% trans %}License{% endtrans %}</th>
            <th id="hActions" scope="col">{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for editorId, editor in editors %}
            <tr>
                <td headers="hLogo"><img height="32" src="{{ asset('editors/' ~ editorId|lower ~ '/images/' ~ editor.meta.logo|default('logo.png')) }}" alt="{{ editor.meta.displayname|e('html_attr') }}" /></td>
                <td headers="hId">{{ editor.meta.displayname }} ({{ editorId }})</td>
                <td headers="hVersion">{{ editor.meta.version }}</td>
                <td headers="hLink"><i class="fas fa-link"></i> <a href="{{ editor.meta.url }}" target="_blank">{{ editor.meta.url }}</a></td>
                <td headers="hLicense">{{ editor.meta.license }}</td>
                <td headers="hActions" class="actions">
                    <a href="{{ path('zikulascribitemodule_editor_configure', {'editorId': editorId}) }}" title="{% trans with {'%editor%': editor.meta.displayname} %}Configure %editor%{% endtrans %}" class="tooltips"><i class="fas fa-wrench"></i></a>
                </td>
            </tr>
        {% else %}
            <tr class="table-info">
                <td colspan="6" class="text-center">{% trans %}No editors found.{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
