{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}

<h3>
    <span class="fa fa-pencil-square-o"></span>
    {% trans %}Module Overrides{% endtrans %}
    {{ pageSetVar('title', 'Module Overrides'|trans) }}
</h3>
{{ form_start(form) }}
{{ form_errors(form) }}

<p class="alert alert-info">
    {% trans %}Entering values here will override the editor for the selected module only.{% endtrans %}<br>
    {% trans %}Existing values cannot be edited. Simply create a new entry and it will overwrite the old value.{% endtrans %}
</p>
<p><a class="btn btn-success btn-sm" href="#" id="add-another-override"><i class="fa fa-plus"></i> {% trans %}Add module override{% endtrans %}</a></p>

{% set dataPrototype %}
    <td headers="hModule">{{ form_widget(form.overrides.vars.prototype.module) }}</td>
    <td headers="hEditor">{{ form_widget(form.overrides.vars.prototype.editor) }}</td>
    <td headers="hActions">
        {% set spinner %}<i id="spinner" style="display: none" class="fa fa-spin fa-lg fa-spinner text-primary"></i>{% endset %}{{ spinner }}
        <a class="ajaxsubmit" id="submitModuleOverride_{{ form.overrides.vars.prototype.vars.name }}" title="{% trans %}Save{% endtrans %}" href="#"><i class="fa fa-check fa-lg text-success"></i></a>
        <a class="ajaxsubmit tooltips" id="cancelAdd_{{ form.overrides.vars.prototype.vars.name }}" title="{% trans %}Cancel{% endtrans %}" href=""><i class="fa fa-times fa-lg text-danger"></i></a>
    </td>
{% endset %}

<div id="override-table-container">
    <table class="table table-bordered table-striped" id="overrides-table" data-prototype="{{ dataPrototype|e }}">
        <colgroup>
            <col id="cModule" />
            <col id="cEditor" />
            <col id="cActions" />
        </colgroup>
        <thead>
        <tr>
            <th id="hModule" scope="col">{% trans %}Module{% endtrans %}</th>
            <th id="hEditor" scope="col">{% trans %}Editor{% endtrans %}</th>
            <th id="hActions" scope="col">{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for override in form.overrides %}
            <tr>
            <td headers="hModule">
                {{ form_widget(override.module, {attr: {class:'disable-select'}}) }}
            </td>
            <td headers="hEditor">
                {{ form_widget(override.editor, {attr: {class:'disable-select'}}) }}
            </td>
            <td headers="hActions" class="actions">
                {{ spinner }}
                <a class="ajaxsubmit tooltips" id="deleteModuleOverride_{{ override.module.vars.value }}" title="{% trans %}delete{% endtrans %}" href=""><i class="fas fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
        {% else %}
        <tr id="moduleoverridesempty" class="danger">
            <td colspan="3">{% trans %}There are currently no module overrides. Add a new entry using the button above.{% endtrans %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ form_end(form) }}

<script type="text/javascript">
    // keep track of how many override fields have been rendered
    var overrideCount = '{{ form.overrides|length }}';
</script>
{{ pageAddAsset('javascript', zasset('@ZikulaScribiteModule:js/ZikulaScribiteModule.Overrides.Module.js')) }}
